<main class="container">
  <%= link_to sanitize("&larr; Back to quote"), quote_path(@quote) %>

  <div class="header">
    <h1>New bundle</h1>
  </div>

  <%= turbo_frame_tag "new_bundle" do %>
    <%= render "form", bundle: @bundle, path: quote_bundles_path(@bundle.quote) %>
  <% end %>
</main>